@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes delayedShow {
    to {
        visibility: visible;
        opacity: 1;
    }
}

.row-with-hover-effect + .show-on-row-hover {
    visibility: hidden;
    opacity: 0;
}

.row-with-hover-effect:hover + .show-on-row-hover, .show-on-row-hover:hover {
    animation: 0.15s linear 0.5s forwards delayedShow;
}
