# This file is sourced by vulnscout.sh
# Use this to configure the binding between your project and VulnScout
# shellcheck disable=SC2034 # variables are used by vulnscout.sh
# shellcheck disable=SC2148 # file is sourced by another file, shebang is not used

SPDX_SOURCES=(
    "tests/docker/spdx"
)

CDX_SOURCES=(
    "tests/docker/cdx"
)

YOCTO_CVE_SOURCES=(
    "tests/docker/yocto.json"
)

# Output folder used to save state of app (ie. where it export and save it's data for next run).
# Don't put in .gitignored folder, must be tracked by git.
OUTPUT_FOLDER=".vulnscout/output"

# Choose port to open when running `scan` interactively
FLASK_RUN_PORT=7275
# As scan runs in a container, we highly recommend to expose flask
FLASK_RUN_HOST=0.0.0.0

# If scan encounters a file with invalid format, should it ignore it?
# Recommended for Yocto as it tend to generate non-SPDX files in SPDX folder
IGNORE_PARSING_ERRORS='true'
